.ico-facebook {
  width: 1em;
  height: 1em;
  fill: initial;
}
.ico-google {
  width: 1em;
  height: 1em;
  fill: initial;
}
.ico-twitter {
  width: 1em;
  height: 1em;
  fill: #010002;
}
.ico-youtube {
  width: 1em;
  height: 1em;
  fill: initial;
}
